/* Error: unmatched "}".
 *     ,
 * 209 |   }
 *     |   ^
 *     '
 *   scss\layout\_content.scss 209:3  @import
 *   scss\main.scss 7:9               root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: unmatched "}".\a     \2577 \a 209 \2502    }\d\a     \2502    ^\a     \2575 \a   scss\\layout\\_content.scss 209:3  @import\a   scss\\main.scss 7:9               root stylesheet';
}
