*, *::after, *::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  font-weight: 100;
  line-height: 1.7;
}

footer header h1 {
  font-family: shrikhand;
  font-size: 2rem;
}

header {
  flex-wrap: wrap;
  width: 100%;
  padding: 1rem;
  line-height: 1.2;
}
header .title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
header input {
  margin: 0px 1px;
  border: none;
  height: 40px;
  background: #ececec;
}
header h1 {
  padding: 20px 20px 10px 20px;
  text-align: center;
}
header p {
  font-weight: 300;
  font-size: 2rem;
  padding: 10px;
  text-align: center;
}
header form {
  width: 100%;
}

.logo {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  margin-bottom: 2rem;
}

.input_with_icon {
  position: relative;
}
.input_with_icon input[type=text] {
  outline: none;
  width: 100%;
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
}
.input_with_icon i {
  position: absolute;
  width: 100%;
  top: 10px;
  padding: 2px 30px;
  color: #000;
  font-size: 1.5rem;
}

.btn {
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 1.7rem;
  padding: 2rem;
  border-radius: 40px;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  color: #fff;
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  transition-duration: 400ms;
}
.btn:hover {
  box-shadow: 0px 3px 9px #a8a8a8;
}

.btn-fct {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.btn-fct button {
  display: flex;
  align-items: center;
  height: 70px;
  width: 30%;
  font-size: 1.8rem;
  font-weight: 700;
  border: none;
  background: #fff;
  border-radius: 20px;
  box-shadow: 3px 3px 10px #d3d3d3;
  margin-bottom: 30px;
  outline: none;
  cursor: pointer;
  transition: all 400ms;
}
.btn-fct button:hover {
  background: rgba(255, 121, 218, 0.15);
  box-shadow: 3px 3px 10px #adadad;
}
.btn-fct button:hover i {
  /* lorsque button est en hover alors <i> est ... */
  color: #9356DC;
}
.btn-fct button i {
  display: flex;
  width: 40px;
  font-size: 2rem;
  margin-left: 25px;
  margin-right: 25px;
}
.btn-fct span {
  display: flex;
  margin-left: -10px;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: 30px;
  width: 30px;
  background: #9356DC;
  border-radius: 50%;
}

main {
  width: 100%;
  display: flex;
  padding: 2.5rem;
}

section {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  flex-basis: 100%;
}

article {
  width: 48%;
}

.item {
  width: 100%;
  border-radius: 20px;
  box-shadow: 2px 2px 10px #d3d3d3;
  margin-bottom: 2rem;
}
.item img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
.item a {
  text-decoration: none;
}

.item__bottom {
  display: flex;
  justify-content: space-between;
  padding: 0rem 2rem 1rem;
}
.item__bottom h3 {
  color: #000;
  font-size: 2rem;
}
.item__bottom p {
  color: #000;
  font-size: 1.5rem;
  font-weight: 400;
}
.item__bottom .heart {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 2.5rem;
  margin-right: 15px;
}

@media screen and (min-width: 320px) and (max-width: 560px) {
  article {
    width: 100%;
  }

  .btn-fct button {
    width: 100%;
  }
  .btn-fct button i {
    margin-right: 10px;
  }
}
/* test animation loading spinner
.custom-loading{
    width: 100%;
    heigth:100%;
    position: relative;
}
.custom-loading-spinner {
    cursor: progress;
    position: absolute;
    width: 100%;
    height: 100%;
}
.custom-loading-spinner::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10001;
    overflow: hidden;
    background: #8b8b8b;
    opacity: 0.95;
    border-radius: 20px;
}
.custom-loading-spinner::after {
    z-index: 10002;
    content: "";
    position: absolute;
    top: 10%;
    left: 50%;
    margin: -25px 0 0 -25px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid $colour-primary;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: custom-loading 1s linear infinite;

}
@keyframes custom-loading {
    0%{
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100%{
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
*/
footer {
  background: #3d3d3d;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 20px;
}
footer .logo_footer {
  flex-basis: 100%;
  color: #fff;
  margin-bottom: 15px;
}
footer li {
  list-style: none;
}
footer h1 {
  font-family: shrikhand;
  font-size: 2.2rem;
  font-weight: 100;
  padding: 0px;
}
footer a {
  color: #fff;
  text-decoration: none;
}
footer i {
  width: 25px;
}

/*# sourceMappingURL=style.css.map */
